<div id="index-editor"></div>

<!-- <div class="edit-zone-container"> -->

  <!-- <div class="edit-zone edit-html-zone">
    <div class="edit-zone-bar">
      <button class="edit-setting"><span><i class="fas fa-cog"></i></span></button>
      <div>HTML</div>
      <button class="edit-selector"><span><i class="fas fa-angle-down"></i></span></button>
    </div>
    <div id="editor--html" class="editor-code editor-html"></div>
  </div> -->

  <!-- <div class="edit-zone edit-css-zone">
    <div class="edit-zone-bar">
      <button class="edit-setting btn-settings"><span><i class="fas fa-cog"></i></span></button>
      <div>CSS</div>
      <button class="edit-selector"><span><i class="fas fa-angle-down"></i></span></button>
    </div>
    <div id="editor--css" class="editor-code editor-css"></div>
  </div> -->
<!--
  <div class="edit-zone edit-js-zone">
    <div class="edit-zone-bar">
      <button class="edit-setting btn-settings"><span><i class="fas fa-cog"></i></span></button>
      <div>JS</div>
      <button class="edit-selector"><span><i class="fas fa-angle-down"></i></span></button>
    </div>
    <div id="editor--js" class="editor-code editor-js"></div>
  </div> -->
<!-- </div> -->
<div class="iframe-console-container">
  <!-- <div class="edit-result-container">
    <iframe id="edit--result" class="edit-render-result" sandbox="allow-downloads allow-forms allow-modals allow-pointer-lock allow-popups allow-presentation allow-same-origin allow-scripts allow-top-navigation-by-user-activation"></iframe>
  </div> -->
  <div class="edit-console-container">
    <div class="edit-console-bar">
      Console
      <button class="edit-console-clear">clear</button>
      <button class="edit-console-close">X</button>
    </div>
    <div class="edit-console"></div>
  </div>
</div>
