<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editor</title>
</head>
<body>
  <header>
    <div class="edit_left_side">
      <img src="" alt="" class="edit_logo">
      <div class="edit_title"></div>
      <a href="#">user_name</a>
      <a href="">
        <span>pro_tag</span>
      </a>
    </div>
    <div class="edit_right_side">
      <button>Save</button>
      <button>Save as Private</button>
      <button>Settings</button>
      <button>Change View</button>
      <button>pin</button>
      <button>edit_picture</button>
    </div>
  </header>
  <session class="edit_zone">
    <div class="edit_html_zone">
      <div>
        <button class="edit_setting"></button>
        <div>HTML</div>
        <button> v </button>
      </div>
      <textarea name="edit_html" id="" cols="30" rows="10"></textarea>
    </div>  
    <div class="edit_css_zone">
      <div>
        <button class="edit_setting"></button>
        <div>CSS</div>
        <button> v </button>
      </div>
      <textarea name="edit_css" id="" cols="30" rows="10"></textarea>
    </div>  
    <div class="edit_html_zone">
      <div>
        <button class="edit_setting"></button>
        <div>JS</div>
        <button> v </button>
      </div>
      <textarea name="edit_js" id="" cols="30" rows="10"></textarea>
    </div> 
  </session>
  <session>
    <iframe></iframe>
  </session>
  <footer>
    <button>console</button>
  </footer>
</body>
</html>