<h1>EDIT PAGE!!!!!!!!!!!!!</h1>

<%# TODO: DELETE、SAVE測試 %>
<button id="btn-save" style="font-size:100px;color:#fff;">Save之後返回edit頁面</button>

<div class="edit_left_side">
  <img src="" alt="" class="edit_logo">
  <div class="edit_title"></div>
  <a href="#" id="user-name">user_name</a>
  <a href="">
    <span>pro_tag</span>
  </a>
</div>
<div class="edit_right_side">
  <button id="btn-save">SAVE</button>
    <button>Save as Private</button>
    <button>Settings</button>
    <button>Change View</button>
    <button>pin</button>
    <button>edit_picture</button>
</div>
<section class="edit_zone">
  <div class="edit_html_zone">
    <div>
      <button class="edit_setting"></button>
      <div>HTML</div>
      <button> v </button>
    </div>
    <textarea name="edit_html" id="" cols="30" rows="10"></textarea>
  </div>
  <div class="edit_css_zone">
    <div>
      <button class="edit_setting"></button>
      <div>CSS</div>
      <button> v </button>
    </div>
    <textarea name="edit_css" id="" cols="30" rows="10"></textarea>
  </div>
  <div class="edit_html_zone">
    <div>
      <button class="edit_setting"></button>
      <div>JS</div>
      <button> v </button>
    </div>
    <textarea name="edit_js" id="" cols="30" rows="10"></textarea>
  </div>
</section>
<section>
  <iframe></iframe>
</section>
<footer>
  <button>console</button>
  <%= render './shared/edit_footer' %>
</footer>