<div>
  <a href="">Following</a>
  <a href="">Trending</a>
  <a href="">Your Work</a>
</div>

<div>
  <a href="">Pens</a>
  <a href="">Projects</a>
  <a href="">Collections</a>
  <a href="">Deleted</a>
</div>

<input type="button" value="Search">

<div>
  View
  <select>
    <option value="all">All</option>
    <option value="not-fork">All My Pens (No Forks)</option>
    <option value="public">Public</option>
    <option value="private">Private</option>
    <option value="template">Template</option>
    <option value="fork">Fork</option>
  </select>
</div>

<div>
  <button>Grid</button>
  <button>List</button>
</div>

<div>
  SORT BY
  <select>
    <option value="ID">Date Created</option>
    <option value="UPDATED_AT">Date Updated</option>
    <option value="POPULARITY">Popularity</option>
  </select>
</div>

<div>
  SORT DIRECTION
  <button>UP</button>
  <button>DOWN</button>
</div>

<div>
  TAG
  <input type="text">
</div>

<div>
  
  <% @pens.each do |pen| %>
    <%= @pen.title %>
    <%= @pen.created_at %>
    <%= @pen.updated_at %>
  <% end %>
  
</div>

<button>NEXT ></button>