<section class="edit-zone-wrapper">
  <div class="edit-zone edit-html-zone">
    <div class="edit-zone-bar">
      <button class="edit-setting">setting</button>
      <div>HTML</div>
      <button> v </button>
    </div>
    <div id="editor--html" class="editor-code editor-html"></div>
  </div> 

  <div class="edit-zone edit-css-zone">
    <div class="edit-zone-bar">
      <button class="edit-setting">setting</button>
      <div>CSS</div>
      <button> v </button>
    </div>
    <div id="editor--css" class="editor-code editor-css"></div>
  </div>   

  <div class="edit-zone edit-js-zone">
    <div class="edit-zone-bar">
      <button class="edit-setting">setting</button>
      <div>JS</div>
      <button> v </button>
    </div>
    <div id="editor--js" class="editor-code editor-js"></div>
  </div> 
</section>
<section>
  <iframe id="edit--result" class="edit-render-result"></iframe>
  <div class="edit-console">
    <ul class="edit-console-ul"></ul>
  </div>
</section>