<section class="edit_zone">
  <div class="edit_html_zone">
    <div>
      <button class="edit_setting"></button>
      <div>HTML</div>
      <button> v </button>
    </div>
    <textarea name="edit_html" id="user-input-html" cols="30" rows="10">HHH</textarea>
  </div>  
  <div class="edit_css_zone">
    <div>
      <button class="edit_setting"></button>
      <div>CSS</div>
      <button> v </button>
    </div>
    <textarea name="edit_css" id="user-input-css" cols="30" rows="10">CCC</textarea>
  </div>  
  <div class="edit_html_zone">
    <div>
      <button class="edit_setting"></button>
      <div>JS</div>
      <button> v </button>
    </div>
    <textarea name="edit_js" id="user-input-js" cols="30" rows="10">JJJ</textarea>
  </div> 
</section>
<section>
  <iframe></iframe>
</section>