<% provide :layout_title, "Trending" %>
<div class="feat-page-title">
  <%= link_to 'Following', follow_path, class: 'big-title' %>
  <%= link_to 'Trending', trending_path, class: 'big-title active' %>
  <%= link_to 'Your Work', pens_path, class: 'big-title' %>
</div>

<%= render 'feature_grid' %>