<footer class="edit-footer">
  <div class="edit-footer-btn">
    <div class="footer-left">
      <button class="btn-console">Console</button>
      <button class="btn-assets">Assets</button>
      <button class="btn-Comments">Comments</button>
    </div>
    <div class="footer-right">
      <div class="save-dateTime">
        <time>...</time>
      </div>
      <button class="btn-delete">Delete</button>
      <button class="btn-collection">Add to Collection</button>
      <button class="btn-Share">Share</button>
    </div>
  </div>
</footer>