<footer class="link-footer-container">
  <div class="dev-wrap">
    <h2 class="big-title teams-title dev-title">Develop</h2>
    <ul class="dev-row">
      <li class="dev-col">
        <h3 class="dev-item-name">前端 ▸</h3>
        <p class="dev-item-content">
          HTML / CSS / tailwindcss / JavaScript / React / Stimulus
        </p>
      </li>
      <li class="dev-col">
        <h3 class="dev-item-name">後端 ▸</h3>
        <p class="dev-item-content">
          Ruby on Rails
        </p>
      </li>
      <li class="dev-col">
        <h3 class="dev-item-name">套件 ▸</h3>
        <p class="dev-item-content">
          第三方登入- Facebook / Google / GitHub<br>
          編輯器 - Ace editor
        </p>
      </li>
      <li class="dev-col">
        <h3 class="dev-item-name">API ▸</h3>
        <p class="dev-item-content">
          序列化 - blueprinter / jbuilder<br>
          金流 - 綠界金流
        </p>
      </li>
      <li class="dev-col">
        <h3 class="dev-item-name">資料庫 ▸</h3>
        <p class="dev-item-content">
          PostgreSQL
        </p>
      </li>
      <li class="dev-col">
        <h3 class="dev-item-name">部署 ▸</h3>
        <p class="dev-item-content">
          Heroku
        </p>
      </li>
    </ul>
  </div>
  <div class="teams-wrap">
    <h2 class="big-title teams-title">Links</h2>
    <ul class="teams-row">
      <li class="teams-col">
        <h3 class="teams-mem-name">專案 ▸</h3>
        <a href="https://github.com/6yCRYSTAL/codepain" class="teams-mem-link" target="_blank" rel="noreferrer noopener" title="游維鴻 GitHub">
          <i class="github-icon fab fa-github"></i>
          <span>&nbsp;CodePain</span>
        </a>
      </li>
      <li class="teams-col">
        <h3 class="teams-mem-name">游維鴻 ▸</h3>
        <a href="https://github.com/VincentYuuu" class="teams-mem-link" target="_blank" rel="noreferrer noopener" title="游維鴻 GitHub">
          <i class="github-icon fab fa-github"></i>
          <span>&nbsp;VincentYuuu</span>
        </a>
      </li>
      <li class="teams-col">
        <h3 class="teams-mem-name">黃宇鈞 ▸</h3>
        <a href="https://github.com/senri8468" class="teams-mem-link" target="_blank" rel="noreferrer noopener" title="黃宇鈞 GitHub">
          <i class="github-icon fab fa-github"></i>
          <span>&nbsp;senri8468</span>
        </a>
      </li>
      <li class="teams-col">
        <h3 class="teams-mem-name">蔡敏佳 ▸</h3>
        <a href="https://github.com/Mandy0315" class="teams-mem-link" target="_blank" rel="noreferrer noopener" title="蔡敏佳 GitHub">
          <i class="github-icon fab fa-github"></i>
          <span>&nbsp;Mandy0315</span>
        </a>
      </li>
      <li class="teams-col">
        <h3 class="teams-mem-name">劉盈希 ▸</h3>
        <a href="https://github.com/p4952015" class="teams-mem-link" target="_blank" rel="noreferrer noopener" title="劉盈希 GitHub">
          <i class="github-icon fab fa-github"></i>
          <span>&nbsp;p4952015</span>
        </a>
      </li>
      <li class="teams-col">
        <h3 class="teams-mem-name">許朝詠 ▸</h3>
        <a href="https://github.com/cyhsujohn" class="teams-mem-link" target="_blank" rel="noreferrer noopener" title="許朝詠 GitHub">
          <i class="github-icon fab fa-github"></i>
          <span>&nbsp;cyhsujohn</span>
        </a>
      </li>
      <li class="teams-col">
        <h3 class="teams-mem-name">李彥廷 ▸</h3>
        <a href="https://github.com/yentingli" class="teams-mem-link" target="_blank" rel="noreferrer noopener" title="李彥廷 GitHub">
          <i class="github-icon fab fa-github"></i>
          <span>&nbsp;yentingli</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="logo-wrap">
    <a class="footer-logo" href="/">
      <img src="/images/logo-white.svg" alt="codePain-logo">
    </a>
    <p class="footer-copy">&copy;2021 CodePain.</p>
    <p class="footer-content">
      CodePain 向程式碼分享社群平台 CodePen 致敬<br>
      感謝 CodePen ，陪著我們成長，讓我們以復刻表達敬意<br>
      <span>在這邀請您，來用 CodePain，解你的 Pain !</span>
    </p>
  </div>
</footer>