<footer class="footer-container">
  <div class="footer-items-wrap">
    <div class="footer-item">
      <h2 class="footer-item-title">Team</h2>
      <ul class="footer-item-team">
        <li><i class="github-icon fab fa-github"></i></li>
        <li>
          <a href="https://github.com/VincentYuuu" class="teams-mem-link" target="_blank" rel="noreferrer noopener" title="游維鴻 GitHub">VincentYuuu</a>
        </li>
        <li>
          <a href="https://github.com/senri8468" class="teams-mem-link" target="_blank" rel="noreferrer noopener" title="黃宇鈞 GitHub">senri8468</a>
        </li>
        <li>
          <a href="https://github.com/Mandy0315" class="teams-mem-link" target="_blank" rel="noreferrer noopener" title="蔡敏佳 GitHub">Mandy0315</a>
        </li>
        <li>
          <a href="https://github.com/p4952015" class="teams-mem-link" target="_blank" rel="noreferrer noopener" title="劉盈希 GitHub">p4952015</a>
        </li>
        <li>
          <a href="https://github.com/cyhsujohn" class="teams-mem-link" target="_blank" rel="noreferrer noopener" title="許朝詠 GitHub">cyhsujohn</a>
        </li>
        <li>
          <a href="https://github.com/yentingli" class="teams-mem-link" target="_blank" rel="noreferrer noopener" title="李彥廷 GitHub">yentingli</a>
        </li>

      </ul>
    </div>
    <div class="footer-dev">
      <h2 class="footer-item-title">Frontend</h2>
      <ul class="footer-item-dev">
        <li>TailwindCSS</li>
        <li>JavaScript</li>
        <li>React</li>
        <li>Stimulus</li>
        <li>Ace</li>
      </ul>
    </div>
    <div class="footer-dev">
      <h2 class="footer-item-title">Backend</h2>
      <ul class="footer-item-dev">
        <li>Ruby on Rails</li>
      </ul>
    </div>
    <div class="footer-dev">
      <h2 class="footer-item-title">API</h2>
      <ul class="footer-item-dev">
        <li>Blueprinter</li>
        <li>jBuilder</li>
        <li>Social login</li>
        <li>ECPay</li>
      </ul>
    </div>
    <div class="footer-dev">
      <h2 class="footer-item-title">Others</h2>
      <ul class="footer-item-dev">
        <li>GitHub</li>
        <li>PostgreSQL</li>
        <li>Heroku</li>
        <li>cdnjs</li>
      </ul>
    </div>



  </div>

  <div class="footer-logo-wrap">
    <a class="footer-logo" href="/">
      <img src="/images/logo-white.svg" alt="codePain-logo">
    </a>
    <p class="footer-logo-copy">&copy;2021 CodePain.</p>
    <p class="footer-logo-text">
      A serious CodePen clone project.<br>
    </p>
    <a href="https://github.com/6yCRYSTAL/codepain"
       class="teams-mem-link"
       target="_blank"
       rel="noreferrer noopener"
       title="codepain-repo">
        <i class="github-icon fab fa-github"></i>
        CodePain by 6yCRYSTAL
    </a>
  </div>
</footer>