<footer class="link-footer-container">
  <div class="footer-menu">
    <nav class="footer-codepen-links">
      <h4>CodePain</h4>
      <a href="#">About</a>
      <a href="#">Blog</a>
      <a href="#">Podcast</a>
      <a
        href="#">Advertising</a>
      <a href="#">Documentation</a>
      <a href="#">Support</a>
      <a href="#">Shop</a>
    </nav>
    <nav class="footer-for-links">
      <h4>For</h4><a href="/features/teams">Teams</a>
      <a href="#">Education</a>
      <a href="#">Privacy</a>
      <a href="#">Embeds</a>
      <a href="#">Asset Hosting</a>
    </nav>
    <nav class="footer-social-links">
      <h4>Social</h4>
      <a href="#">YouTube</a>
      <a href="#">Twitter</a>
      <a href="#">Instagram</a>
    </nav>
    <nav class="footer-community-links">
      <h4>Community</h4>
      <a href="#">Spark</a>
      <a href="#">Challenges</a>
      <a href="#">Topics</a>
      <a href="#">Code of Conduct</a>
    </nav>
  </div>
  <div class="footer-logo-copyright">
    <div class="sidebar-logo footer-logo">
      <a href="/">
        <img src="/images/logo-white.svg" alt="codepain-logo">
      </a>
    </div>
    <p>©2021 CodePain<br><em>Demo or it didn't happen.</em></p>
  </div>
</footer>