<footer class="link-footer-container">
  <div class="footer-menu">
    <nav class="footer-codepen-links">
      <h4>CodePen</h4>
      <a href="/about/">About</a>
      <a href="https://blog.codepen.io/">Blog</a>
      <a href="https://blog.codepen.io/radio/">Podcast</a>
      <a
        href="https://www.notion.so/csstricks/Sponsorship-Possibilities-cb5b33a3f6f64c239220547fe7965d78">Advertising</a>
      <a href="https://blog.codepen.io/documentation/">Documentation</a>
      <a href="/support/">Support</a>
      <a href="https://cottonbureau.com/people/codepen-team">Shop</a>
    </nav>
    <nav class="footer-for-links">
      <h4>For</h4><a href="/features/teams">Teams</a>
      <a href="/features/education">Education</a>
      <a href="/features/privacy">Privacy</a>
      <a href="/features/embeds">Embeds</a>
      <a href="/features/asset-hosting">Asset Hosting</a>
    </nav>
    <nav class="footer-social-links">
      <h4>Social</h4>
      <a href="https://www.youtube.com/c/CodePenOfficial">YouTube</a>
      <a href="https://twitter.com/CodePen">Twitter</a>
      <a href="https://www.instagram.com/codepen/">Instagram</a>
    </nav>
    <nav class="footer-community-links">
      <h4>Community</h4>
      <a href="/spark/">Spark</a>
      <a href="/challenges/">Challenges</a>
      <a href="/topics/">Topics</a>
      <a href="https://blog.codepen.io/legal/code-conduct/">Code of Conduct</a>
    </nav>
  </div>
  <div class="footer-logo-copyright">
    <div class="sidebar-logo footer-logo">
      <a href="/">
        <img src="/images/logo-white.svg" alt="codepain-logo">
      </a>
    </div>
    <p>©2021 CodePen<br><em>Demo or it didn't happen.</em></p>
  </div>
</footer>