<div class="-btpinnedn">
  <button class="btn-pinned">
    <span><i  class="fas fa-thumbtack"></i></span>
    <svg class="animate-spin h-5 w-5 mr-3" viewBox="0 0 24 24"></svg>
  </button>
  <button class="btn-pin-arrow">
    <span class="fas fa-chevron-down"></span>
  </button>
</div>
<div class="extend">
  <div class="Pinned-Items">
    Pinned Items
  </div>
  <div class="list">
    <ul>
      <li>
        <i class="fas fa-window-maximize icon-a"></i>
        test123123123
        <button class="item"><i class="delete fas fa-times"></i></button>
      </li>
      <li class="my-pin">
        <i class="fas fa-window-maximize icon-a"></i>
        test123123123
        <button class="item"><i class="delete fas fa-times"></i></button>
      </li>
      <li class="my-pin">
        <i class="fas fa-window-maximize icon-a"></i>
        test123123123
        <button class="item"><i class="delete fas fa-times"></i></button>
      </li>
    </ul>
  </div>
</div>