<header class="edit-header">
  <div class="edit-title-header">
    <%= link_to pens_path do %>
      <img src="/images/logo-s.svg" alt="CodePain">
    <% end %>

    <div class="edit-title-area">
      <h1 id='edit-title'>Untitled</h1>
      <span id='btn-edit'><i class="fas fa-pencil-alt"></i></span>
      <input type="text" id="inputTitle" value='Untitled' style='display: none;'>
      <div cclass="edit-author" id="username"><%= current_user.username %></div>
    </div>
  </div>
  <div class="edit-btn-header">
    <button class="btn-Love"><span><i class="fas fa-heart"></i></span></button>
    <%# <button class="btn-save" id="btn-save"><span><i class="fas fa-cloud"></i></span>Save</button> %>
    <%# <div id="btn-update" style="color: white; cursor: pointer;">update</div> %>
    <button class="btn-settings"><span><i  class="fas fa-cog"></i></span>Settings</button>
    <button class="btn-changeView">
      <span>
        <svg viewBox="-703.9 491.1 31.7 25.3">
          <path
            d="M-688.1 499.6c-4.3 0-8.1 2.2-10.4 5.6 2.2 3.4 6 5.6 10.4 5.6 4.3 0 8.1-2.2 10.4-5.6-2.2-3.3-6-5.6-10.4-5.6zm0 9.9c-2.3 0-4.2-1.9-4.2-4.2-.1-2.4 1.8-4.3 4.2-4.3 2.3 0 4.2 1.9 4.2 4.2 0 2.4-1.9 4.3-4.2 4.3z">
          </path>
          <path
            d="M-673.4 491.1h-29.3c-.7 0-1.2.5-1.2 1.2v22.9c0 .7.5 1.2 1.2 1.2h29.3c.7 0 1.2-.5 1.2-1.2v-22.9c0-.6-.6-1.2-1.2-1.2zm-28.1 22.9v-17.1h26.8V514h-26.8z">
          </path>
        </svg>
      </span>
      Change View
    </button>
    <div class="pinned-btn">
      <button class="btn-pinned">
        <span><i  class="fas fa-thumbtack"></i></span>
      </button>
      <button class="btn-pin-arrow">
        <span class="fas fa-chevron-down"></span>
      </button>
    </div>
    <div class="extend">
      <div class="Pinned-Items">
      Pinned Items
      </div>
      <div class="list">
        <ul>
        <li class="my-pin"><i class="fas fa-th-large icon-a"></i>嘎嘎嘎嘎嘎嘎嘎嘎嘎嘎嘎嘎嘎嘎嘎<button class="delete 1">x</button></li>
        <li class="my-pin"><i class="fas fa-th-large icon-a"></i>嘎嘎嘎嘎嘎嘎嘎嘎嘎嘎嘎嘎嘎嘎嘎<button class="delete 2">x</button></li>
        <li class="my-pin"><i class="fas fa-th-large icon-a"></i>嘎嘎嘎嘎嘎嘎嘎嘎嘎嘎嘎嘎嘎嘎嘎<button class="delete 3">x</button></li>
      </ul>
      </div>
    </div>
  </div>
  <div class="userMenu-box">
    <button class="userMenu-img" id="userMenu-btn">
      <img src="/images/user-img.jpg" alt="使用者圖像" />
    </button>
    <ul class="userMenu-topnav">
      <li><a href="#">Your Work</a></li>
      <li><a href="#">Profile</a></li>
      <li class="divider_before"><a href="#">New Pen</a>
      <li><a href="#">New Project</a></li>
      <li><a href="#">New Collection</a></li>
      <li class="divider_before"><a href="#">Asset Manager</a>
      <li><a href="#">Embed Theme Builder</a></li>
      <li class="divider_before"><a href="#">Upgrade to</a>
      <li><a href="#">Documentation</a></li>
      <li><a href="#">Support</a></li>
      <li class="divider_before"><a href="#">Settings</a>
      <li><a href="#">LogOut</a></li>
    </ul>
  </div>
</header>