<div>
  <div class="pen">
    pen
    <%= link_to 'Pen', new_pen_path %>
    <a href="#">Vue Pen</a>
    <a href="#">Flutter Pen</a>
    <a href="#">From Template</a>
  </div>
  <a href="#">Project</a>
  <a href="#">Collection</a>  
  <%= link_to 'Your work', pens_path %>
  <a href="#">Activity</a>
  <a href="#">Assets</a>
  <a href="#">Pinned Items</a>
  <a href="#">Following</a>
  <a href="#">Trending</a>
  <a href="#">Challenges</a>
  <a href="#">Spark</a>
</div>