<!-- 登入 -->
<section class="search-userMenu-container">
  <div class="search-userMenu">
    <form action="" class="search-box">
      <label>
        <div class="fas fa-search"></div>
        <input placeholder="Search ..." type="search" value="">
      </label>
    </form>
    <div class="userMenu-box">
      <button class="userMenu-img" id="userMenu-btn">
        <img
          src="https://gravatar.com/avatar/2b1915d0982115d83fa2d2c09ae3c4af?d=https%3A%2F%2Fassets.codepen.io%2Finternal%2Favatars%2Fusers%2Fdefault.png&fit=crop&format=auto&height=80&version=0&width=80"
          alt="使用者圖像">
      </button>
      <ul class="userMenu-topnav">
        <li><a href="#">Your Work</a></li>
        <li><a href="#">Profile</a></li>
        <li class="divider_before"><a href="#">New Pen</a>
        <li><a href="#">New Project</a></li>
        <li><a href="#">New Collection</a></li>
        <li class="divider_before"><a href="#">Asset Manager</a>
        <li><a href="#">Embed Theme Builder</a></li>
        <li class="divider_before"><a href="#">Upgrade to</a>
        <li><a href="#">Documentation</a></li>
        <li><a href="#">Support</a></li>
        <li class="divider_before"><a href="#">Settings</a>
        <%= link_to  "Log Out", logout_path, method: :delete %>
      </ul>
    </div>
  </div>
</section>