<!-- # <%= link_to '這是暫時按鈕可以連到Your-work頁面', pens_path %> -->
<div class="homepage">
  <div class="homepage-anon-header">
    <div class="homepage-anon-header-all">
      <div class="homepage-anon-header-left">
        <img class="aaa" src="./images/logo-s.svg" alt="codepain">
        <h1 class="homepage-titele">The best place to build, test, and discover front-end code.</h1>
        <p class="homepage-content">CodePain is a <span class="content-belder">social development environment </span> for front-end designers and developers.
        Build and deploy a website, show off your work, build test cases to learn and debug, and find inspiration.</p>
        <button class="sign-up-forfree-btn">Sign Up for Free</button>
      </div>
      <div class="homepage-anon-header-right">
        <div class="background-doily">
          <div class="Preview code-html">
            <div class="code-type">
              <span class="fas fa-cog" id="homepage-gear"></span>
              <p class="type-titele">HTML</p>
              <span class="fas fa-chevron-down show-off-extend"></span>
            </div>
            <code class="code-content">
              <span class="code-coffe">&ltdiv </span>
              <span class="code-yellow">class</span> 
              <span>=</span>
              <span class="code-green">"rect"</span> 
              <span class="code-coffe">&gt&lt/div&gt</span>
            </code>
          </div>
          <div class="Preview code-scss">
            <div class="code-type">
              <span class="fas fa-cog" id="homepage-gear"></span>
              <p class="type-titele">SCSS</p> 
              <span class="fas fa-chevron-down show-off-extend"></span>
            </div>
            <code class="code-content">
              <p>
                <span class="code-yellow">.rect</span>
                <span>{</span>
              </p><br>
              <p>
              <span class="code-purple">&emsp;&emsp;&emsp;&emsp;background</span>
              <span>:</span>
              <span class="code-yellow">linear-gradient</span>
              <span>(</span>
              </p><br>
              <p>
                <span class="code-orange">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;-119deg</span>
                <span>,</span>
              </p><br>
              <p>
                <span class="code-yellow">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;$gray</span>
                <span class="code-orange">0%</span>
                <span>,</span>
              </p><br>
              <p>
                <span class="code-yellow">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;$dark-gray </span>
                <span class="code-orange">100%</span>
                ); }
                <span class="typewriter"></span>
              </p>
            </code>
          </div>
          <div class="Preview code-js">
            <div class="code-type">
              <span class="fas fa-cog" id="homepage-gear"></span>
              <p class="type-titele">JS</p>
              <span class="fas fa-chevron-down show-off-extend"></span>
            </div>
            <code class="code-content">
              <span class="code-yellow">var</span>
              <span class="code-blue">colors</span>
              <span>=</span>
              <br>
              <span>[</span>
              <span class="code-green">"#74B087"</span>
              <span>,</span>
              <span class="code-green">"#DE7300"</span>
              <span>,</span>
              <span class="code-green">"#74B087"</span>
              <span>];</span>
              <br>
              <br>
              <span class="code-yellow">function</span>
              <span class="code-blue">animte</span>
              () {} ;
            </code>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="homepage-bady">
    <div class="homepage-bady-format">
      <div class="homebox">
        <div class="homepage-illustration">
          <img class="home-illustration-desk" src="https://cpwebassets.codepen.io/assets/packs/icon-build-0f21c66ed03bfb36c597636d27ca621e.svg" alt="illustration">
        </div>
        <h1>Build & Test</h1>
        <p>Get work done quicker by building out entire projects or isolating code to test features 
          and animations. Want to keep it all under wraps? <button>Upgrade to a <span> PRO </span>   account</button> to keep your work private.
        </p>
        <button class="use-btn">Try the Editor</button>
      </div>
      <div class="homebox">
        <div class="homepage-illustration">
          <img class="home-illustration-map" src="https://cpwebassets.codepen.io/assets/packs/icon-learn-b1311620e99cea826f259aa2f7750940.svg" alt="illustration">
        </div>
        <h1>Learn & Discover</h1>
        <p>Just starting out? Browsing, forking, and playing with Pens is a great way to understand
          how they were built and how code works. Teaching a class? <button> Professor mode </button> lets your 
          students to see and comment on real-time Pen updates.
        </p>
        <button class="use-btn">Learn More</button>
      </div>
      <div class="homebox">
        <div class="homepage-illustration">
          <img class="home-illustration-globe" src="https://cpwebassets.codepen.io/assets/packs/icon-share-910c683bbac21bf41fcf9aab64ebc957.svg" alt="illustration">
        </div>
        <h1>Share Your Work</h1>
        <p>Become a part of the most active front-end community in the world by sharing work. 
          Presenting at a conference? Show your code directly in the browser with <button> Presentation Mode </button>.</p>
        <button class="use-btn">Explore Trending</button>
      </div>
    </div>
  </div>
</div>
<img class="homepage-bg" src="https://cpwebassets.codepen.io/assets/packs/lines-2-4e66616a5ef291c3566a7ddfe1ffaaa8.svg" alt="aaa">
<img class="homepage-bgs" src="https://cpwebassets.codepen.io/assets/packs/lines-4-4ea88270d73b7f6eaaa69e91aed97ddf.svg" alt="">