<!-- # <%= link_to '這是暫時按鈕可以連到Your-work頁面', pens_path %> -->
<div class="homepage-anon-header">
  <div class="homepage-anon-header-all">
    <div class="homepage-anon-header-left">
      <!-- <img src="./images/logo-s.svg" alt="codepain"> -->
      <i class="fas fa-window-maximize aaa"></i>
      <h1 class="homepage-titele">The best place to build, test, and discover front-end code.</h1>
      <p class="homepage-content">CodePain is a <span class="content-belder">social development environment </span> for front-end designers and developers.
      Build and deploy a website, show off your work, build test cases to learn and debug, and find inspiration.</p>
      <button class="sign-up-forfree-btn">Sign Up for Free</button>
    </div>
    <div class="homepage-anon-header-right">
      <div class="background-doily">
        <div class="Preview code-html">
          <div class="code-type">
            <span class="fas fa-cog" id="homepage-gear"></span>
            <p class="type-titele">HTML</p>
            <span class="fas fa-chevron-down show-off-extend"></span>
          </div>
          <code class="code-content">
            <span>&ltdiv </span>
            <span>class</span> 
            <span>=</span>
            <span>"rect"</span> 
            <span>&gt&lt/div&gt</span>
          </code>
        </div>
        <div class="Preview code-scss">
          <div class="code-type">
            <span class="fas fa-cog" id="homepage-gear"></span>
            <p class="type-titele">SCSS</p> 
            <span class="fas fa-chevron-down show-off-extend"></span>
          </div>
          <code class="code-content">
            <p>
              <span>.rect</span>
              <span>{</span>
            </p><br>
            <p>
            <span>background</span>
            <span>:</span>
            <span>linear-gradient</span>
            <span>(</span>
            </p><br>
            <p>
              <span>-119deg</span>
              <span>,</span>
            </p><br>
            <p>
              <span>$gray</span>
              <span>0%</span>
              <span>,</span>
            </p><br>
            <p>
              <span>$dark-gray </span>
              <span>100%</span>
              ); }
            </p>
          </code>
        </div>
        <div class="Preview code-js">
          <div class="code-type">
            <span class="fas fa-cog" id="homepage-gear"></span>
            <p class="type-titele">JS</p>
            <span class="fas fa-chevron-down show-off-extend"></span>
          </div>
          <code class="code-content">
            <span>var</span>
            <span>colors</span>
            <span>=</span>
            <br>
            <span>[</span>
            <span>"#74B087"</span>
            <span>,</span>
            <span>"#DE7300"</span>
            <span>,</span>
            <span>"#74B087"</span>
            <span>];</span>
            <br>
            <br>
            <span>function</span>
            <span>animte</span>
            () {} ;
          </code>
        </div>
      </div>
    </div>
  </div>
</div>