<section class="homepage-anon-header">
  <div class="homepage-anon-header-left">
    <img class="homepage-codepain" src="./images/logo-s.svg" alt="codepain">
    <h1 class="homepage-title">
      在這邀請您<br>
      來用<span class="en-text"> CodePain</span>，解你的 <span class="en-text">Pain</span>
    </h1>
    <p class="homepage-content">
      請使用平板或電腦開啟本網站，以獲得更好的使用者體驗<br>
      CodePain <span>向程式碼分享社群平台 CodePen 致敬，</span><br>
      感謝 CodePen，陪著我們成長，讓我們以復刻表達敬意!
    </p>
    <a href="/accounts/sign_up" class="sign-up-btn">Sign Up for Free</a>
  </div>
  <div class="homepage-anon-header-right">
    <div class="background-doily">
      <section class="Preview homepage-code-html">
        <div class="code-type">
          <i class="fas fa-cog cog-icon"></i>
          <p class="type-title">HTML</p>
          <i class="fas fa-chevron-down arrow-bottom-icon"></i>
        </div>
        <code class="code-content">
          <span class="code-coffee">&ltdiv </span>
          <span class="code-yellow">class</span>
          <span>=</span>
          <span class="code-green">"6yCRYSTAL"</span>
          <span class="code-coffee">&gt&lt/div&gt</span>
        </code>
      </section>
      <section class="Preview homepage-code-css">
        <div class="code-type">
          <i class="fas fa-cog cog-icon"></i>
          <p class="type-title">CSS</p>
          <i class="fas fa-chevron-down arrow-bottom-icon"></i>
        </div>
        <code class="code-content">
          <div class="css-type-an">
            <p class="css-type1"></p>
          </div>
          <div class="css-type-an">
            <p class="css-type2"></p>
          </div>
          <div class="css-type-an">
            <p class="css-type3"></p>
          </div>
          <div class="css-type-an">
            <p class="css-type4"></p>
          </div>
          <div class="css-type-an">
            <p class="css-type5"></p>
          </div>
        </code>
      </section>
      <section class="Preview homepage-code-js">
        <div class="code-type">
          <i class="fas fa-cog cog-icon"></i>
          <p class="type-title">JS</p>
          <i class="fas fa-chevron-down arrow-bottom-icon"></i>
        </div>
        <code class="code-content">
          <p>
            <span class="code-yellow">var</span>
            <span class="code-blue">colors</span>
            =
          </p>
          <p>
            [
            <span class="code-green">"#74B087"</span>,
            <span class="code-green">"#DE7300"</span>,
            <span class="code-green">"#74B087"</span>
            ];
          </p>
          <br>
          <br>
          <p>
            <span class="code-yellow">function</span>
            <span class="code-blue">animte</span>
            () {} ;
          </p>
        </code>
      </section>
    </div>
  </div>
  <img src="/images/homepage-bg-top.svg" alt="背景圖" class="homepage-anon-header-bg">
</section>

<section class="homepage-body">
  <div class="row">
    <section class="col">
      <div class="homepage-body-item">
        <div class="homepage-body-img">
          <img src="/images/editor.svg" alt="線上編輯圖片">
        </div>
        <div class="homepage-body-content">
          <h2>線上編輯</h2>
          <p>線上 HTML / CSS / JavaScript 編輯器，免安裝、免設定，學習程式語言無阻力。</p>
        </div>
      </div>
    </section>
    <section class="col">
      <div class="homepage-body-item">
        <div class="homepage-body-img">
          <img src="/images/code.svg" alt="程式碼補齊圖片">
        </div>
        <div class="homepage-body-content">
          <h2>程式碼補齊</h2>
          <p>只記得片段語法？<br>程式碼補完功能，陪你建立肌肉記憶。</p>
        </div>
      </div>
    </section>
    <section class="col">
      <div class="homepage-body-item">
        <div class="homepage-body-img">
          <img src="/images/community.svg" alt="社群分享圖片">
        </div>
        <div class="homepage-body-content">
          <h2>社群分享</h2>
          <p>想要的功能不知道如何下手？<br>各方大大分享原始碼及效果一目了然。</p>
        </div>
      </div>
    </section>
  </div>
  <img src="/images/homepage-bg-bottom.svg" alt="背景圖" class="homepage-body-bg">
</section>