// 控制編輯區隱藏
.comment-edit-block{
  display: none;
}

.uppercase{
  text-transform: uppercase;
}

.warning-wrap{
  justify-content: center;
  padding: 0;
  @apply transition-all opacity-100 transform scale-100;
}

.appear{
  display: block;
}