.delete-pen-popup {
  top: 40px !important;
  border: 10px solid var(--danger-red) !important;
}
.delete-pen-confirm {
  @apply no-underline leading-tight inline-block pt-2.5 pb-2.5 pl-4 pr-4 mr-2.5 rounded border-transparent border-2 whitespace-nowrap overflow-ellipsis text-center justify-items-start;
  font-size: var(--text-p);
  background-color: var(--danger-red);
  color: var(--light-gray);
}
.delete-pen-cancel {
  @apply no-underline leading-tight inline-block pt-2.5 pb-2.5 pl-4 pr-4 mr-2.5 rounded border-transparent border-2 whitespace-nowrap overflow-ellipsis text-center;
  font-size: var(--text-p);
  background-color: var(--btn-gray);
  color: var(--light-gray);
}
.swal2-actions.delete-pen-actions {
  padding-left: 1.8rem;
  padding-bottom: 1.8rem;
  justify-content: start;
}
.delete-pen-html-container {
  p, ul {
    @apply text-base font-normal text-left text-white mt-0 mr-0 mb-6 ml-0;
  }
  ul {
    @apply m-5;
  }
  li {
    @apply list-disc;
  }
}
.swal2-popup.delete-pen-loading-popup {
  top: 30px !important;
  border: 6px solid var(--warning-yellow) !important;
}