
/* header */
.edit{
  background-color: var(--primary-gray-6);
}
.container-edit{
  height: 100vh;
  overflow: hidden;
}
.edit-header{
  padding: .5rem 1rem;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  @media screen and (max-width: 830px) {
    @apply p-2;
  }
}
.edit-title-header{
  @apply flex items-center w-5/12;
  img{
    width: 30px;
    fill: white;
    @media screen and (max-width: 830px) {
      width: 24px;
    }
  }
  .edit-title-area{
    padding-left: .5rem;
    color: var(--light-gray);
    width: 80%;
  }
  .edit-title-wrap{
    @apply flex items-center;
    h1,input{
      font-size: var(--text-h6);
      letter-spacing: .2px;
      margin: 0;
      padding: .2rem 0;
      display: inline-block;
      color: var(--light-gray);
      @media screen and (max-width: 830px) {
        font-size: var(--text-p);
      }
      @media screen and (max-width: 1024px) {
        font-size: var(--text-h6);
      }
    }
    h1{
      height: 2rem;
      white-space: nowrap;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    input{
      background-color: transparent;
      border: none;
      outline: medium;
      font-weight: bold;
      padding: 0;
    }
    #btn-edit-title{
      margin-left: 5px;
      margin-top: -5px;
      @apply invisible;
      &:hover{
        svg{
          animation: title-pen-an .6s ease;
          -webkit-animation: title-pen-an .6s ease;
          -moz-animation: title-pen-an .6s ease;
        }
        @keyframes title-pen-an{
          0% {
            transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
          }
          25% {
            transform: rotate(10deg);
            -webkit-transform: rotate(10deg);
            -moz-transform: rotate(10deg);
          }
          75% {
            transform: rotate(-10deg);
            -webkit-transform: rotate(-10deg);
            -moz-transform: rotate(-10deg);
          }
          100% {
            transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
          }
        }
      }
      @media screen and (max-width: 830px) {
        svg{
          font-size: 10px;
          margin-bottom: 2px;
        }
      }
    }
  }
  .edit-username{
    @apply flex;
    .edit-author{
      font-size: var(--text-s-p);
      color: var(--primary-gray-1);
      @media screen and (max-width: 830px) {
        font-size: 10px
      }
    }
    .edit-pro-icon{
      font-size: 10px;
      height: fit-content;
      @apply invisible ml-1 py-0.5 px-1;
    }
  }
}
.edit-btn-header{
  @apply ml-auto flex;
  .private-lock {
    height: inherit;
    margin-right: .5rem;
    color: var(--primary-gray-1);
  }
  .burger-btn{
    button{
      background-color: var(--btn-gray);
      height: 35px;
      width: 35px;
    }
  }
}
.edit-btn-wrap{
  @apply flex;
  button{
    border-radius: 4px;
    height: 45px;
    font-size: var(--text-p);
    color: white;
    display: inline-block;
    padding: 10px 16px;
    margin-right: .5rem;
    background-color: var(--primary-gray-4);
    @apply flex items-center;
    span{
      display: inline-block;
      margin-right: .2rem;
      width: 1rem;
      fill: white;
      svg{
        width: 100% !important;
      }
    }
    &:hover{
      background-color: var(--primary-gray-3);
    }
  }
  @media screen and (max-width: 830px) {
    background-color: var(--primary-gray-6);
    box-shadow: 0 2rem 4rem #0a0a0c;
    transform: scale(.8);
    transform-origin: top right;
    @apply absolute right-0 top-full w-60 py-2 invisible opacity-0 transition-all flex flex-col;
    > button{
      background-color: var(--primary-gray-6);
      @apply w-full rounded-none h-auto text-left px-4 py-2.5;
      &:hover{
        background-color: var(--primary-gray-3);
      }
    }
    .private-switch-wrap{
      @apply order-last py-1 px-4;
    }
    &.mobile-edit-btn{
      transform: scale(1);
      @apply visible opacity-100 transition-all;
    }
  }
}
/* header end */

/* edit-title-alert */
.edit-title-alert{
  z-index: 11;
  @apply w-full flex justify-center absolute;
  span{
    @apply inline-block py-1 px-2 text-gray-800 bg-yellow-300 rounded-b-lg text-sm;
  }
}
/* edit-title-alert end */

/* footer */
.edit-footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 5;
}
.edit-footer-btn{
  height: 30px;
  background-color: var(--primary-gray-5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  button{
    color: var(--light-gray);
    font-size: var(--text-s-p);
    padding: 2px 7px;
    background-color: var(--primary-gray-4);
    // background-color: var(--danger-red);
    border-radius: 2px;
    &.btn-Share{
      margin-left: 4px;
    }
    &:hover{
      background-color: var(--primary-gray-2);
    }
    &.btn-delete{
      &:hover{
        background-color: var(--danger-red);
      }
    }
  }
  > div{
    display: flex;
  }
}
.save-dateTime{
  margin-right: 1rem;
  time{
    color: var(--light-gray);
  }
}
/* footer end */
.appear{
  display: block;
}