.edit-zone-wrapper{
  width: 100%;
  height: 50%;
  display: flex;
}
.edit-zone{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.edit-zone-bar{
  width: 100%;
  height: 30px;
  color: rgb(154, 154, 154);
  display: flex;
  justify-content: space-between;
}
.editor-code, .edit-render-result, .edit-console{
  width: 100%;
  height: 100%;
}
.edit-render-result{
  background-color: var(--light-gray);
}
.edit-console-clear, .edit-console-close{ 
  border: 1px solid rgb(237, 237, 237);
  color: white;
}
.edit-console-wrapper{
  display: none;
}
.edit-console-wrapper.on{
  display: block;
  background-color: var(--primary-gray-8);
  color: var(--primary-gray-1)
}