.en-text{
  font-family: "Alata", sans-serif;
  letter-spacing: 1px;
}
/* homepage-anon-header */
.homepage-codepain-title{
  display: none;
  width: 100%;
  height: 18px;
  @media screen and (max-width:1024px) {
    @apply block ;
  }
  .homepage-codepain-logo{
    width: 200px;
    margin-left: 40%;
  }
}
.homepage-anon-header{
  width: 100%;
  display: flex;
  padding: 3rem 0;
  position: relative;
  @media screen and (max-width:1024px) {
    @apply flex-wrap flex-col-reverse ;
  }
}
.homepage-anon-header-left{
  width: 50%;
  background-color: transparent;
  padding-top: 2rem;
  @media screen and (max-width:1024px) {
    @apply w-screen ml-44 ;
  }
  .homepage-codepain{
    width: 50px;
    margin-top: -10px;
    @media screen and (max-width:1024px) {
      @apply hidden ;
    }
  }
  .homepage-title{
    color: var(--light-gray);
    font-size: var(--text-h2);
    letter-spacing: 2px;
    font-weight: bold;
    padding: 1rem 0;
    margin: 0;
  }
  .homepage-content{
    font-size: var(--text-h6);
    color: var(--gray-light-1);
    margin: 0;
    line-height: 1.5;
    span{
      color: var(--light-gray);
    }
  }
  .sign-up-btn{
    display: inline-block;
    margin: 0;
    margin-top: 2.5rem;
    border-radius: 5px;
    background-color: var(--btn-green);
    color: var(--dark-gray);
    font-size: var(--text-p);
    padding: .8rem 1rem;
    @media screen and (max-width:1024px) {
      @apply ml-40 ;
    }
    &:hover{
      background-color: var(--btn-hover-green-dark);
    }
  }
}
.homepage-anon-header-right{
  width: 50%;
  background-color: transparent;
  @media screen and (max-width:1024px) {
    @apply w-screen  ;
  }
  .background-doily{
    position: relative;
    width: 85%;
    margin-left: auto;
    height: 28rem;
    background: linear-gradient(109.61deg,#4c4f5a 4.26%, #202125 84.84%);
    border-radius: 10px;
    @media screen and (max-width:1024px) {
      @apply w-screen h-80 px-10 ;
    }
    .Preview{
      position: absolute;
      width: 300px;
      height: 140px;
      border-radius: 6px;
      background-color: var(--primary-gray-6);
      padding: .5rem;
      box-shadow: 0 4px 30px rgba(0,0,0,.5);
      .code-type{
        width: 100%;
        display: flex;
        letter-spacing: 1.5px;
        font-weight: bold;
        .type-title{
          font-size: var(--text-s-p);
          color: var(--light-gray);
          margin: 0;
          padding-left: .5rem;
        }
        .cog-icon,.arrow-bottom-icon{
          color: var(--primary-gray-4);
          font-size: var(--text-h6);
        }
        .arrow-bottom-icon{
          margin-left: auto;
        }
      }
      .code-content{
        color: var(--light-gray);
        font-size: 13px;
        font-family: verdana;
        padding-top: .5rem;
        display: block;
        .code-coffee{color: #a88038;}
        .code-yellow{color: #e1ca72;}
        .code-green{color: #74b087;}
        .code-purple{color: #9f8198;}
        .code-orange{color:#de7300;}
        .code-blue{color:#7a99ad;}
      }
    }
    .homepage-code-html{
      top: -20px;
      right: 20px;
      @media screen and (max-width:1024px) {
        @apply top-5 -left-4 ;
      }
    }
    .homepage-code-css{
      top: 145px;
      right: -20px;
      @media screen and (max-width:1024px) {
        @apply top-20 right-80 ;
      }
      .code-content{
        .css-type-an{
          margin-left: 4rem;
          p{
            display: inline-block;
            margin: 0;
          }
          &:nth-child(1){
            margin-left: 0;
          }
          &:nth-child(2){
            margin-left: 2rem;
          }
        }
      }
    }
    .homepage-code-js{
      bottom: -20px;
      right: 40px;
      @media screen and (max-width:1024px) {
        @apply top-36 left-24 ;
      }
      p{
        margin: 0;
      }
    }
  }
}
.homepage-anon-header-bg{
  position: absolute;
  bottom: -280px;
  right: -90px;
  max-width: 350px;
  z-index: -1;
}
/* homepage-anon-header end */

/* homepage-body */
.homepage-body{
  padding: 3rem 0 8rem 0;
  position: relative;
  .row{
    @apply flex space-x-8;
    @media screen and (max-width:1024px) {
      @apply flex-wrap space-x-0 space-y-10 ;
    }
    .col{
      @apply w-4/12;
      @media screen and (max-width:1024px) {
        @apply w-full;
      }
    }
  }
}
.homepage-body-item{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 1.5rem;
  border-radius: 10px;
  background-color: var(--primary-gray-5);
  .homepage-body-img{
    box-sizing: border-box;
    margin-top: -20px;
    display: flex;
    padding: 6px;
    width: 75px;
    height: 75px;
    border-radius: 10px;
    background-color: var(--primary-gray-8);
    img{
      width: 100%;
      display: block;
    }
  }
  .homepage-body-content{
    h2,p{
      font-size: var(--text-h5);
      margin: 0;
      padding-top: 1rem;
      letter-spacing: 2px;
      color: var(--light-gray);
    }
    p{
      font-size: var(--text-p);
      padding-bottom: 1rem;
      letter-spacing: 1.5px;
      color: var(--primary-gray-1);
    }
  }
}
.homepage-body-bg{
  position: absolute;
  bottom: 50px;
  left: -100px;
  max-width: 300px;
  z-index: -1;
}