<div class="plans-container">
  <header class="plans-header">
    <div class="plans-header-details">
      <h1>Choose a Plan</h1>
      <p>What do you get for being PRO? A lot!</p>
      <p><a href="#" class="">See PRO Features</a></p>
    </div>
    <div class="plans-hearder-choose">
      <div class="plans-individual-choice">Individual Plans</div>
      <div class="plans-team-choice">Team Plans</div>
    </div>
  </header>
  <div class="plans-content">
    <div class="plans-content-choose">
      <table class="plans-table">
        <div data-controller="plans">
          <thead>
            <tr>
              <div data-target="">
                <th>
                  <h3 class="plans-title-free">Free</h3>
                </th>
                <th>
                  <h3 class="plans-title-starter">Annual Starter</h3>
                </th>
                <th>
                  <h3 class="plans-title-developer">Annual Developer</h3>
                </th>
                <th>
                  <h3 class="plans-title-super">Annual Super</h3>
                </th>
              </div>
              <div>
                <th>
                  <h3 class="plans-title-free">Free</h3>
                </th>
                <th>
                  <h3 class="plans-title-starter">Starter</h3>
                </th>
                <th>
                  <h3 class="plans-title-developer">Developer</h3>
                </th>
                <th>
                  <h3 class="plans-title-super">Super</h3>
                </th>
              </div>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="plans-price-free">
                <div class="plans-price">
                  <span class="plans-price-sign">$</span>
                  <span class="plans-price-amount">0</span>
                  <span class="plans-interval">/month</span>
                  <p>Forever</p>
                </div>
              </td>
              <td class="plans-price-starter">
                <div class="plans-price">
                  <span class="Pplans-price-sign">$</span>
                  <span class="plans-price-amount">8</span>
                  <span class="plans-interval">/month</span>
                  <p>Billed at $96/year.</p>
                </div>
                <div class="plans-annual-savings">You’re
                  <span class="plans-annual-savings-hightlight">
                    saving<strong>$48</strong></span><br>by  annually.
                </div>
              </td>
              <td class="plans-price-developer">
                <div class="plans-price">
                  <span class="Pplans-price-sign">$</span>
                  <span class="plans-price-amount">12</span>
                  <span class="plans-interval">/month</span>
                  <p>Billed at $144/year.</p>
                </div>
                <div class="plans-annual-savings">You’re
                  <span class="plans-annual-savings-hightlight">
                    saving<strong>$84</strong></span><br>by  annually.
                </div>
              </td>
              <td class="plans-price-super">
                <div class="plans-price">
                  <span class="Pplans-price-sign">$</span>
                  <span class="plans-price-amount">26</span>
                  <span class="plans-interval">/month</span>
                  <p>Billed at $312/year.</p>
                </div>
                <div class="plans-annual-savings">You’re
                  <span class="plans-annual-savings-hightlight">
                    saving<strong>$156</strong></span><br>by  annually.
                </div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td><%= link_to 'Upgrade', product_path(@product, plan: 'starter', period: 'year') %></td>
              <td><%= link_to 'Upgrade', product_path(@product, plan: 'developer', period: 'year') %></td>
              <td><%= link_to 'Upgrade', product_path(@product, plan: 'super', period: 'year') %></td>
            </tr>
            <tr>
              <td></td>
              <td>Switch to monthly</td>
              <td>Switch to monthly</td>
              <td>Switch to monthly'</td>
            </tr>
        </div>
          <tr>
            <td class="plans-features">
              <ul class="plans-features-list">
                <li class="plans-features-item">Unlimited public Pens and Collections</li>
                <li class="plans-features-item">Unlimited templates</li>
                <li class="plans-features-item">Debug view(<em>requires</em> log in)</li>
                <li class="plans-features-item">1 project with 10 files</li>
              </ul>
            </td>
            <td class="plans-features">
              <ul class="plans-features-list">
                <li class="plans-features-item">Everything in Free</li>
                <li class="plans-features-item">
                  Asset hosting<br>
                  <strong>2 GB</strong> total storage<br>
                  <strong>5 MB</strong> per file
                </li>
                <li class="plans-features-item">
                  <strong>10</strong> Projects<br>
                  <strong>50</strong> files/Project<br>
                  <strong>1</strong> deployed
                </li>
                <li class="plans-features-item">
                  <strong>2 person</strong> Collab Mode<br>
                  <strong>10 person</strong> Professor Mode<br>
                  <small>(Pens only)</small>
                </li>
                <li class="plans-features-item">
                  <strong>Private</strong> Pens, Collections, and Projects.
                </li>
                <li class="plans-features-item">
                  No ads
                </li>
                <li class="plans-features-item">
                  Unlimited embed themes with custom CSS
                </li>
                <li class="plans-features-item">
                  No-Login Pen Debug View
                </li>
                <li class="plans-features-item">
                  Live View
                </li>
              </ul>
            </td>
            <td class="plans-features">
              <ul class="plans-features-list">
                <li class="plans-features-item">
                  Everything in Starter
                </li>
                <li class="plans-features-item">
                  Asset hosting<br>
                  <strong>10 GB</strong> total storage<br>
                  <strong>10 MB</strong> per file
                </li>
                <li class="plans-features-item">
                  <strong>25</strong> Projects<br>
                  <strong>150</strong> files/Project<br>
                  <strong>5</strong>
                  deployed
                </li>
                <li class="plans-features-item">
                  <strong>6 person</strong> Collab Mode<br>
                  <strong>35 person</strong> Professor Mode<br>
                  <small>(Pens only)</small>
                </li>
                <li class="plans-features-item">
                  Use your own domain for Projects
                </li>
              </ul>
            </td>
            <td class="plans-features">
              <ul class="plans-features-list">
                <li class="plans-features-item">
                  Everything in Developer
                </li>
                <li class="plans-features-item">
                  Asset hosting<br>
                  <strong>20 GB</strong> total storage<br>
                  <strong>15 MB</strong> per file
                </li>
                <li class="plans-features-item">
                  <strong>50</strong> Projects<br>
                  <strong>300</strong> files/Project<br>
                  <strong>20</strong>
                  deployed
                </li>
                <li class="plans-features-item">
                  <strong>10 person</strong> Collab Mode<br>
                  <strong>100 person</strong> Professor Mode<br>
                  <small>(Pens only)</small>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>