<div>
  <div>CREATE</div>
  <div class="pen">
    pen
    <a href="https://codepen.io/pen/">Pen</a>
    <a href="https://codepen.io/pen/editor/vue">Vue Pen</a>
    <a href="https://codepen.io/pen/editor/flutter">Flutter Pen</a>
    <a href="https://codepen.io/pen/?appcue=-MA2c6MyhNoeYWwK8ZXY">From Template</a>
  </div>
  <a href="https://codepen.io/project/editor">Project</a>
  <a href="#">Collection</a>  

  <a href="https://codepen.io/your-work/">Your Work</a>
  <a href="#">Activity</a>
  <a href="https://codepen.io/assets/">Assets</a>
  <a href="#">Pinned Items</a>
  <a href="https://codepen.io/following">Following</a>
  <a href="https://codepen.io/trending">Trending</a>
  <a href="https://codepen.io/challenges">Challenges</a>
  <a href="https://codepen.io/spark">Spark</a>
</div>